body{
    background: #f0f0f0;
    font-family: '微软雅黑';
}
.info{
    display: block;
    width: 100%;
    height:3.95rem ;
    background: #ffffff;
    padding: 0.5rem;
    box-sizing: border-box;

}
.info_con1{
    width: 1.425rem;
    height: 100%;
    float: left;
}
.info_con2{
    width:14rem ;
    height: 100%;
    float: left;
}
.info_con3{
    width:2.12rem ;
    height: 100%;
    float: left;
    text-align: right;
}

.info_con1 img{
    width: 0.8rem;
    height:0.975rem ;
    margin-top:0.9875rem;
}
.con2_one{
    height:1rem ;
    width: 100%;
    line-height: 1rem;
}
.con2_two{
    height:1.95rem ;
    width: 100%;
    font-size: 0.7rem;
    color: #333333;
}

.con2_one span:nth-child(1){
    font-size: 0.7rem;
    color: #333333;
    float: left;

}
.con2_one span:nth-child(2){
    float: right;
    font-size: 0.7rem;
    color: #333333;

}
.info_con3 img{
    width: 0.35rem;
    height:0.725rem ;
    margin-top:0.9875rem;
}
.info1{
    width: 100%;
    height: 0.2rem;
    background: url("../images/qrdd2.png")no-repeat;
    margin-bottom: 0.5rem;
}
.info2{
    width: 100%;
    height: 1.475rem;
    background: #fff;
    padding-left: 0.5rem;
    box-sizing: border-box;
    line-height: 1.475rem;
    color: #333;
    font-size: 0.75rem;
}
.info2 img{
    width: 0.75rem;
    height: 0.65rem;
   margin-top: -0.2rem;
}
.info3{
    width: 18.75rem;
    height: 3.95rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right:0.925rem;
    box-sizing: border-box;
    background: #f0f0f0;
    margin-bottom: 0.25rem;
}
.info3_one_img{
    float: left;
}
.info3_one_img img{
    width: 3.55rem;
    height: 3.55rem;
    margin-right: 0.35rem;
    vertical-align: text-top;
}
.info3_two{
    float: right;
    width: 13.425rem;
    height: 100%;

}
.two_one{
    width: 100%;
    height:1.775rem ;

    color: #333333;
    font-size: 0.7rem;
}
.two_two{
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #999999;
    font-size: 0.6rem;
    line-height: 1rem;
}
.two_three{
    width: 100%;
    height: 0.675rem;
    line-height: 0.675rem;
    color: #fe4e4e;
    font-size: 0.85rem;
}
.two_three span{
    float: right;
    color: #333333;
    font-size: 0.65rem;
}
.two_three span:nth-child(1){
    float: left;
    color: #fe4e4e!important;
    font-size: 0.85rem!important;
}
.two_three span:nth-child(2){
    float: left;
    color: #fe4e4e!important;
    font-size: 0.85rem!important;
}

.info4{
    width: 100%;
    /*height: 11.275rem;*/
    height: 7.5rem;
    background: #ffffff;
    margin-top: 0.1rem;
    /*padding-left: 0.5rem;*/
    /*padding-right: 0.5rem;*/
    /*box-sizing: border-box;*/
    margin-bottom: 0.5rem;
}
.info4_one{
     /*width: 100%;*/

     height: 1.85rem;
     border-bottom: 1px solid #dddddd;
     line-height: 1.85rem;
    width: 17.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
 }
.info4_one span{
    font-size: 0.7rem;
    color: #333333;

}
.info4_one span:nth-child(1){
    float: left;
}
.info4_one span:nth-child(2){
    float: right;
}
.info4_one  span:nth-child(3){
    float: right;
}
.info4_two{
    display: block;
    /*width: 100%;*/
    width: 17.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 1.85rem;
    border-bottom: 1px solid #dddddd;
    line-height: 1.85rem;
}
.info4_two span{
    float: left;
    color: #333333;
    font-size: 0.7rem;
}
.info4_two span:nth-child(3){
    float: right;
    color: #333333;
    font-size: 0.7rem;
    margin-right: 0.25rem;
}
.info4_two img:nth-child(2){
    float: right;

}

.info4_two img{
    float: right;
    width: 0.35rem;
    height: 0.725rem;
    margin-top: 0.5625rem;
}
.info4_three{
    display: block;
    /*width: 100%;*/
    width: 17.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 1.85rem;
    border-bottom: 1px solid #dddddd;
    line-height: 1.85rem;
}
.info4_three span{
    color: #333333;
    font-size: 0.7rem;
}
.info4_three input{
    width: 13.675rem;
    border-left:0px;
    border-top:0px;
    border-right:0px;
    border-bottom:1px;
    color: #999999;
    font-size: 0.6rem;
}
.info4_four{
    display: block;
    width: 100%;
    height: 1.85rem;
    border-bottom: 1px solid #dddddd;
    /*line-height: 1.85rem;*/
    padding-top: 0.2rem;
    box-sizing: border-box;
}
.info_zffs{
    margin-bottom: 2.75rem;
    background: #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    border-bottom:none;
}
.info4_four span{
    color: #333333;
    font-size: 0.7rem;
}
.info4_four img{
    width: 0.75rem;
    height: 0.75rem;
}
.info4_four div{
    float: right;
}
.info4_four div img:nth-child(3){
    margin-left: 1rem;
}
.info4_five{
    /*width: 100%;*/
    width: 17.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 1.85rem;
    /*border-bottom: 1px solid #dddddd;*/
    text-align: right;
    font-size: 0.65rem;
    padding-top: 0.4rem;
    box-sizing: border-box;

}
.info4_five span:nth-child(1){
    margin-right: 1rem;
}
.info4_five span:nth-child(3){
    color: #ff5527;
}
.info4_five span:nth-child(4){
    color: #ff5527;
}
.footer{
    width: 100%;
    height: 2.25rem;
    background: #ffffff;
    position: fixed;
    bottom: 0;
}
.footer_left{
    height: 100%;
    width: 13.2rem;
    background: #ffffff;
    float: left;
    text-align: right;
    padding-right: 0.8rem;
    box-sizing: border-box;
    line-height: 2.25rem;
    color: #333333;
    font-size: 0.6rem;
}
.footer_right{
    height: 100%;
    /*width: 5.525rem;*/
    width: 5.325rem;
    background:#63c6a2;
    float: right;
    color: #f0f0f0;
    font-size: 0.75rem;
    text-align: center;
    line-height: 2.25rem;
}
.footer_left span:nth-child(2){
        color: #ff8569;
}
.footer_left span:nth-child(3){
    color: #ff8569;
}
.yhq{
    width: 100%;
    height: auto;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}
.yhq_top{
    width: 100%;
    height: 0.7rem;
    text-align: right;
    line-height: 0.7rem;

}
.yhq_top span{
    color: #666666;
    margin-right: 1rem;
    font-size: 0.55rem;
}
.yhq_con1{
    height:1.5rem ;
    width: 100%;
    text-align: center;
    color: #333333;
    font-size: 0.75rem;
}
.yhq_con2{
    width: 100%;
    height: 6.7rem;

    padding-left: .5rem;
    box-sizing: border-box;
}
.yhq_con2_left{
    width: 1.4rem;
    height: 5.75rem;
    position: relative;
    float: left;
    line-height: 5.75rem;
}
.yhq_con2_left img{
    width: 0.9rem;
    height: 0.875rem;

}
.yhq_con2_right{
    float: left;
    position: relative;
    width: 16.325rem;
    height: 5.75rem;
    background: url("../images/qrdd10.png")no-repeat;
    background-size: 16.325rem 5.75rem;

}
.yhq_con2_right img{
    width: 16.325rem;
    height: 5.75rem;
}

.zz{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    bottom: 0;
    display: none;
}
.yhq_footer{
    width: 100%;
    height: 2.25rem;
    background: #63c6a2;
    text-align: center;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 2.25rem;
}
.yhq_con2_right_con{
    position: absolute;
    z-index: 100000;
    top: 0;
    /*width: 5rem;*/
    text-align: center;
    width: 5.5rem;
    height: 5.375rem;
}
.yhq_con2_right_left{
    width: 5.55rem;
    height: 5.35rem;
    /*background: paleturquoise;*/
    float: left;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
}
.yhq_con2_right_right{
    width: 10.625rem;
    height: 5.325rem;
    /*background: violet;*/
    float: left;
    padding-left: 0.325rem;
    box-sizing: border-box;
}
.yhq_con2_right_left span:nth-child(1){
    font-size: 0.91725rem;
    color: #ffffff;
}
.yhq_con2_right_left span:nth-child(2){
    font-size: 2.6105rem;
    color: #ffffff;
}
.yhq_con2_right_left p:nth-child(3){
    font-size: 0.776rem;
    color: #ffffff;
}
.yhq_con2_right_right p:nth-child(1){
    margin-top: 0.3rem;
    color: #333333;
    font-size: 0.98775rem;
}
.yhq_con2_right_right p:nth-child(2){
    margin-top: 0.3rem;
    color: #666666;
    font-size: 0.776rem;
}
.yhq_con2_right_right p:nth-child(3){
    margin-top: 0.8rem;
    color: #666666;
    font-size: 0.7055rem;
}
.payment{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    bottom: 0;
    display: none;
}
.payment_con{
    width: 12.5rem;
    margin: 8.25rem auto 0;
    height: 10rem;
    background: #ffffff;
    border-radius: 0.25rem;
}
.payment_con_top{
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    line-height: 2rem;
    color: #333333;
    font-size: 0.9rem;
}
.payment_con_con1{
    width: 100%;
    height: 5.25rem;
    font-size: 1.5rem;
    color: #333333;
    text-align: center;
    line-height: 5.25rem;
}
.confirm_payment{
    height: 2rem;
    width: 11.5rem;
    background: #07c772;
    margin: 0 auto;
    border-radius: 0.25rem;
    color: #ffffff;
    font-size: 0.8rem;
    text-align: center;
    line-height: 2rem;
}

